In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("../../dataset/pompa-train-v3.csv")

In [29]:
df.head()

   adc_level  adc_temp  adc_flow  adc_pressure_left  adc_pressure_right
0      607.0     434.0     550.0              300.0               235.0
1      609.0     433.0     549.0              295.0               237.0
2      608.0     431.0     552.0              298.0               239.0
3      609.0     432.0     554.0              297.0               235.0
4      607.0     431.0     550.0              301.0               238.0

In [30]:
new_df = df
for column in df.columns:
    new_df[f"{column}-past"] = new_df[column].shift(1)

new_df = new_df.reset_index(drop=True)
new_df = df[1:]
new_df.head()

,adc_level,adc_temp,adc_flow,adc_pressure_left,adc_pressure_right,adc_level-past,adc_temp-past,adc_flow-past,adc_pressure_left-past,adc_pressure_right-past
1,609.0,433.0,549.0,295.0,237.0,607.0,434.0,550.0,300.0,235.0
2,608.0,431.0,552.0,298.0,239.0,609.0,433.0,549.0,295.0,237.0
3,609.0,432.0,554.0,297.0,235.0,608.0,431.0,552.0,298.0,239.0
4,607.0,431.0,550.0,301.0,238.0,609.0,432.0,554.0,297.0,235.0
5,606.0,432.0,554.0,300.0,241.0,607.0,431.0,550.0,301.0,238.0

In [31]:
new_df.to_csv("../../dataset/pompa-train-v3-enhanced.csv", index=False)